$color-faded-white: #efdfd1;

@font-face {
    font-family: 'LeagueGothic-Regular';
    src: url('../../fonts/LeagueGothic-Regular.woff2') format('woff2'),
    	 url('../../fonts/LeagueGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin title {
	color: $color-faded-white;
	font-family: 'LeagueGothic-Regular';
	font-size: 7.5vw;
	letter-spacing: .2vw;
	line-height: 7.6vw;
	margin: 0;
	position: absolute;
	text-transform: uppercase;
	transform: scale(1.25, 1);	
}

.Title {
	@include title;

	overflow: hidden;
}
