@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Regular.woff2') format('woff2'),
    	 url('../../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Heavy.woff2') format('woff2'),
    	 url('../../fonts/Lato-Heavy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Italic.woff2') format('woff2'),
    	 url('../../fonts/Lato-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-HeavyItalic.woff2') format('woff2'),
    	 url('../../fonts/Lato-HeavyItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

.feedcard {
	font-family: 'Lato', 'Helvetica';
	position: relative;

	.image {
		background-image: url(http://ichef.bbci.co.uk/universe/img/ic/640/questions_and_ideas/dark_matter/dark_matter_large.jpg);
		background-size: cover;
		font-weight: 900;
		height: 50vh;
		transition: height 1s;
		width: 100vw;

		// Refactor as SCSS mix-in
	    .share-outer-circle {
	    	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			background-color: white;
			border: 2px solid white;
			border-radius: 36px;
			cursor: pointer;
			height: 36px;
			left: 5vw;
			position: absolute;
			top: 5vw;
			width: 36px;
			z-index: 10;
	    }

	    .share-inner-circle {
			background-color: #1D1D1D;
			border-radius: 36px;
			height: 36px;
			width: 36px;
	    }

		.share {
			left: 3px;
			position: relative;
			top: 3px;
			width: 30px;

			&:hover {
				opacity: 0.6;
			}
		}
	}

	.info {
		margin: 4vw;
	}

	.title {
		color: black;
		font-size: 1.5em;
	}

	.breadcrumbs {
		color: #a9a9a9;
		font-size: 0.7em;
		padding-top: 4vw;
		padding-bottom: 4vw;
		text-transform: uppercase;
	}

	.ratings {
		margin-left: -4px;
	}

	.author {
		.avatar {

		}

		.info {

		}

		.name {
			font-size: 0.7em;
		}

		.role {
			font-size: 0.5em;
			text-transform: uppercase;
		}
	}

	.expand-content {

	}
}