// overflow: hidden on this element cuts graphic off

.md-np {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -35px;
    width: 35px;
    height: 70px;
    background: rgba(0, 0, 0, .5);
    line-height: 70px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 100;
    opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.mbsc-ic-arrow-right5:hover::before,
.mbsc-ic-arrow-left5:hover::before {
    opacity: 0.6;
}

.md-n {
    left: auto;
    right: 0;
}
