/* Demo specific styling */
.md-prevnext .mbsc-apps-ul {
    font-size: 16px;
}

.md-apps-tab {
    display: none;
}

.md-apps-tab-sel {
    display: block;
}

.md-np {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -35px;
    width: 35px;∏
    height: 70px;
    background: rgba(0, 0, 0, .5);
    line-height: 70px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.md-n {
    left: auto;
    right: 0;
}

.md-prevnext {
    padding-bottom: 75px;
}
