@font-face {
    font-family: 'LeagueGothic-Italic';
    src: url('../../fonts/LeagueGothic-Italic.woff2') format('woff2'),
    	 url('../../fonts/LeagueGothic-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Deep-Zoom-Graphic {
	overflow: hidden;
	position: relative;

	.Bubble-Number {
		align-items: center;
		display: flex;
		justify-content: center;
		overflow: hidden;
		margin: 0;
		padding: 0;
		z-index: 10;
	}

	.Bubble-Number p {
		font-family: 'LeagueGothic-Regular';
		font-size: 1.5vw;
		margin: 0;
		padding: 0;
	}
}