@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    	 url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Heavy.woff2') format('woff2'),
    	 url('../fonts/Lato-Heavy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.woff2') format('woff2'),
    	 url('../fonts/Lato-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-HeavyItalic.woff2') format('woff2'),
    	 url('../fonts/Lato-HeavyItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

.Worldview {
	height: 100vh;
	overflow-y: hidden;

	/* Position and sizing of burger button */
	.bm-burger-button {
		position: fixed;
		width: 36px;
		height: 30px;
		left: 36px;
		top: 0;
		cursor: pointer;
	}

	/* Color/shape of burger icon bars */
	.bm-burger-bars {
		background: #fff;
	}

	/* Position and sizing of clickable cross button */
	.bm-cross-button {
		height: 24px;
		width: 24px;
		margin-right: 20px;
	}

	/* Color/shape of close button cross */
	.bm-cross {
		background: #bdc3c7;
	}

	/* General sidebar styles */
	.bm-menu {
		font-family: 'Lato', 'Helvetica';
		background: #fff;
		padding: 2.5em 1.5em 0;
		font-size: 1.0em;
		line-height: 1.4em;
		overflow-y: auto;
		overflow-x: hidden;
	}

	/* Morph shape necessary with bubble or elastic */
	.bm-morph-shape {
		fill: #373a47;
	}

	/* Styling of overlay */
	.bm-overlay {
		background: rgba(0, 0, 0, 0.3);
	}

	.footnotes-line {
		margin: 20px 0;
	}
}

.Model {
	background: #f00;
	height: 100vh;
	overflow-y: hidden;
}

.Propositional {
	background: #0f0;
	height: 100vh;
	overflow-y: hidden;
}

.Conceptual {
	background: #00f;
	height: 100vh;
	overflow-y: hidden;
}