@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    	 url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Heavy.woff2') format('woff2'),
    	 url('../fonts/Lato-Heavy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.woff2') format('woff2'),
    	 url('../fonts/Lato-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-HeavyItalic.woff2') format('woff2'),
    	 url('../fonts/Lato-HeavyItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

.Worldview {
	height: 100vh;
	overflow-y: hidden;

    .bm-outer-circle {
    	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		background-color: white;
		border: 2px solid white;
		border-radius: 36px;
		cursor: pointer;
		height: 36px;
		left: 5vw;
		position: fixed;
		top: 5vw;
		transition: width 1s, height 1s, margin 1s, opacity 1s;
		width: 36px;
		z-index: 10;
    }

    .bm-inner-circle {
		background-color: #1D1D1D;
		border-radius: 36px;
		height: 36px;
		transition: width 1s, height 1s, opacity 1s;
		width: 36px;
    }

	/* Position and sizing of burger button */
	.bm-burger-button {
		height: 30px;
		transition: width 1s, height 1s, opacity 1s;
		width: 36px;
	}

	/* Color/shape of burger icon bars */
	.bm-burger-bars {
		background: #fff;
		transition: width 1s;
	}

	.bm-burger-bars-container {
		position: relative;
		transition: padding 1s, height 1s, opacity 1s;
	}

	/* Position and sizing of clickable cross button */
	.bm-cross-button {
		height: 24px;
		width: 24px;
		margin-right: 20px;
	}

	/* Color/shape of close button cross */
	.bm-cross {
		background: #bdc3c7;
	}

	/* General sidebar styles */
	.bm-menu {
		font-family: 'Lato', 'Helvetica';
		background: #fff;
		padding: 2.5em 1.5em 0;
		font-size: 1.0em;
		line-height: 1.4em;
		overflow-y: auto;
		overflow-x: hidden;
	}

	/* Morph shape necessary with bubble or elastic */
	.bm-morph-shape {
		fill: #373a47;
	}

	/* Styling of overlay */
	.bm-overlay {
		background: rgba(0, 0, 0, 0.3);
	}

	.footnotes-line {
		margin: 20px 0;
	}
}

.Model {
	height: 100vh;
	overflow-y: hidden;
}

.Propositional {
	height: 100vh;
	overflow-y: hidden;
}

.Conceptual {
	height: 100vh;
	overflow-y: hidden;
}

.Narrative {
	height: 100vh;
	overflow-y: hidden;
}