@font-face {
    font-family: 'LeagueGothic-Regular';
    src: url('../fonts/LeagueGothic-Regular.woff2') format('woff2'),
    	 url('../fonts/LeagueGothic-Regular.woff') format('woff');
}

@font-face {
    font-family: 'LeagueGothic-Italic';
    src: url('../fonts/LeagueGothic-Italic.woff2') format('woff2'),
    	 url('../fonts/LeagueGothic-Italic.woff') format('woff');
}

.Controversy-Card {
	position: relative;
}

.Controversy-Card .Base-Layer {
	max-width: 100%;
}

.Controversy-Card .Title-Left {
	color: white;
	font-family: 'LeagueGothic-Regular';
	font-size: 7vw;
	left: 0;
	letter-spacing: 3px;
	line-height: 7vw;
	margin: 0;
	padding-left: 7.5vw;
	padding-top: 6vw;
	position: absolute;
	text-align: left;
	text-transform: uppercase;
	top: 0;
	transform:scale(1.25,1);
}
